$mainColor: #91785D;
$secondaryColor: #BBE1C3;
$textColor: #A7CDBD;

html{
    background-color: $mainColor;
    font-family: 'Gaegu', cursive;
    color: $textColor;
    height:95%;
}

body{
    padding: 5px 5px 0 5px;
    overflow: hidden;
    margin:0;
    height:100%;
}

.wrapper{
    // test background color
    padding-top:10px;
    padding-bottom:5px;
    position: relative;
    // background-color: salmon;
    display: grid;
    margin:auto; 
    width:85%;
    height:100%;
    grid-template-areas: 
    "top top top"
    "left mid right";
    grid-template-columns: 1.5fr .25fr 1fr;
    grid-template-rows: 75px auto;
    overflow-y:hidden;
}

.pageTitle{
    grid-area:top;
    text-align: center;
    h1{
        margin-top:0;
        margin-bottom: 0;
    }
    font-size:2em;
}

h2{
    text-align: left;
    font-size: 2em;
    margin-top:0;
    margin-bottom:0;
}

.topFour{
    grid-area: left;
    margin-bottom:10px;
    height:100%;
}

.albumCovers{
    grid-area:left;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
    .larger-text{
        font-size: 1.2em;
    }

    p{
        text-align: center;
        font-size:1.2em;
        margin-top:0;
    }

    //border:1px dashed red;

}

.box{
    position: relative;
    width:200px;
    height:225px;
    //border:1px solid $secondaryColor;
    padding:5px;
    margin:auto auto 25px auto;
    img{
        display: block;
        position: relative;
        max-height: 75%;
        // border:1px dashed yellow;
        margin-left:auto;
        margin-right:auto;
    }
    p{
        position: relative;
        margin-bottom:0;
    };
}

.box:hover{
    
    img{
        border-right:.5px solid $secondaryColor; 
    }
}
.playlist{
    grid-area:right;
}

.display-playlist{
    iframe{
        width:350px;
        height:450px;
    }
}

@media only screen and (max-width:1200px){
    body{
        overflow: visible;
    }
    
    .wrapper{
        display: flex;
        flex-flow: column nowrap;
        margin:auto;
        
    }

    .pageTitle{
        order: 1;
        text-align: left;
    }

    .topFour{
        order:2;
        h2 {
            text-align: center;
        }
    }

    .playlist{
        order:3;
        margin:auto;
        padding-top:25px;
        h2{
            text-align: center;
        }
        iframe{
            width:100%;
        }
    }
}