
@media(max-width: 480px){
    html{
        touch-action: manipulation;
    }
}

canvas{
    width: 352px;
    height: 480px;
    margin: 0 auto; 
    background:#003559; 
    display: none; 
    border: 8px solid #F9C80E;
}

.classContainer{
    display: block;
}

.startM{
    display: grid;
    grid-template-areas: 
    "title title title"
    ". score ."
    ". play ."
    "quote quote quote";
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: 25% 45% 10% 15%;
    justify-content: center;
    align-items: center;
    margin: auto; 
    padding: 0 16px;
    height: 480px;
    width: 320px;
    background-color:#003559; 
    border: 8px solid #F9C80E;
    color:#BF0A30;
}

.firstTitle{
    grid-area: title;
    font-size: 3.25em;
    text-align: center;
    
}

.secondTitle{
    grid-area: title;
    font-size: 3.25em;
    margin-top:66%;
    text-align: center;    
}

.inspirational_quote{
    display: flex;
    position: relative;
    flex-direction: column;
    margin:auto;
    padding-top: 32px;
    grid-area: quote;
    width:100%;
}

.quote{
    margin: 0;
    text-align: end;
    /* align-self: flex-end; */
}

.quote_credit{
    margin: 2% 0;
    text-align: end;
    /* align-self: flex-end; */
}

.score{
    grid-area: score;
    text-align: center;
    font-size: 1.75em;
}

.score__value{
    text-align: center;
    margin-bottom: 0;
}

.startButton{
    grid-area: play;
    position: relative;
    width: 100%;
    border-radius: 2%;
    margin:auto;
    text-align: center;
}

.startButton button{
    color: #003559;
    background-color: #ffff;
    border: 2px solid #F9C80E;
    border-radius: 4px;
    font-size: 1.05em;
    padding: 8px 12px;
}

.startButton button:hover{
    background: #F9C80E;
    cursor: pointer;
}
