html, body{
    height: 100%;
    margin: 0;

}

main{
    color: #F0F4EF;
}

.main-color{
    background: #171D26;
}

.fixed-width{
    max-width: 1440px;
    padding: 0 16px;
    margin: 0 auto;

    @media (min-width: 500px){
        padding: 0 64px;
    }
}

.main-content{
    display: flex;
    position: absolute;
    z-index: 0;
    background-color: #285943;
    height: 100%;
    color: #FFFCE8;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.gift-intro{
    width: 75%;
    margin: 100px auto 50px;
}

.gift-intro h1{
    font-size: 64px;
}

.gift-intro h2, .gift-description h2{
    font-size: 42px;
}

.images{
    width: 100%;
    height: auto;
    margin: 50px auto;
}

img{
    object-fit: cover;
    width: 90%;
    height: auto;
}

.dual-images #ye{
    grid-area: ye;
    text-align: center;
}

.dual-images #trav{
    grid-area: trav;
    text-align: center;
}

.gift-description{
    text-align: left;
    padding: 0 50px;
}

.gift-description p, li{
    font-size: 36px;
}

.disclaimer{
    margin-top: 100px;
    font-weight: 600;
    text-align: center;
}

.on-load-modal{
    display: block;
    position: relative;
    z-index: 1;
    margin: 0;
    background-image: url("option3.jpg");
    background-repeat: repeat;
    width: 100%;
    height: 100%;

}

.vert-ribbon{
    display: inline-block;
    background-color: #CC0030;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 180px;
    transition: all .3s ease;
}

.horizontal-ribbon{
    display: inline-block;
    background-color: #CC0030;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 350px;
    transition: all .3s ease;
}

.open-horizontal{
    max-height: 0;

}

.open-vertical{
    max-width: 0;
}

.label-wrapper{
    position: absolute;
    bottom: 350px;
    right: 50px;
    height: 450px;
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 50px;
    background-color: #285943;
    border-radius: 16px;
}

.label-wrapper p{
    font-size: 40px;
    color: #FFFCE8;
}

.fancy-label{
    font-family: 'Oooh Baby', cursive;
    font-size: 50px;
}

.open-btn{
    position: relative;
    bottom: -25px;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    width: 400px;
    font-size: 36px;
    border-radius: 32px;
    border: none;
    color: #FFFCE8;
    background-color: #D80032;
}

.nav-container{
    color: #F0F4EF;
    padding-top: 48px;

    @media (min-width: 500px){
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 32px; 
        margin-bottom: 32px;
    }
}

.nav-container a{
    color: #F0F4EF;
}

.logo{
    flex: 1 0 auto;
}

.logo h1{
    margin: 0 0 12px;   
    line-height: 1;
}

.logo h2{
    margin: 4px 0 0;
}

.header--1, h1{
    font: 42px "Catamaran", serif;
    line-height: .75;

    @media(min-width: 500px){
        font: 54px "Catamaran", serif;        
    }
}

.header--2, h2{
    font: 35px "Fira Sans Condensed", serif;
    @media(min-width: 500px){
        margin-top: 0;
        font: 45px "Fira Sans Condensed", serif;
    }
}

.header--3, h3{
    font: 29px "Fira Sans Condensed", serif;
        @media(min-width: 500px){
        font: 37px "Fira Sans Condensed", serif;
    }
}

.header--4, h4{
    font: 24px "Fira Sans Condensed", serif;
        @media(min-width: 500px){
        font: 31px "Fira Sans Condensed", serif;
    }
}

.header--5, h5{
    font: 20px "Fira Sans Condensed", serif;
        @media(min-width: 500px){
        font: 26px "Fira Sans Condensed", serif;
    }
}

p{
    font: 14px "Metrophobic", serif;

    @media(min-width: 500px){
        font: 18px "Metrophobic", serif;
    }
}

.italics{
    font-style: italic;    
}

.text-primary{
    color: #040B10;
}

.text-decoration__none{
    text-decoration: none;
}

.nav{    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; 
    margin-top: 32px;
    
    @media(min-width: 500px){
        justify-content: flex-end;
        margin-top: 0px;
    }
}

.nav__main{    
    flex: 1 0 auto;
    padding-right: 120px;
    display: flex;
    justify-content: space-evenly;
}

.link{
    display: inline-block;
    padding: 8px 16px;    
    border-radius: 4px;
    color: #040B10;
    text-decoration: none;
    flex: 0 1 auto;
    font: 22px "Metrophobic", serif;
    
    @media(min-width: 500px){
        margin-left: 32px;         
    }
}

.link__about{
    display: inline-block;
    background-color: #F95738;
    border: 2px solid #FCA587;
    border-radius: 4px;
    padding: 8px 24px;
    text-align: center;
    color: #F0F4EF;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
}


.link__about:hover{       
    background-color: #FCA587;
    color: #081621;
}


.about{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: flex;     
    padding-top: 48px;
    
    @media(min-width: 500px){
        flex-flow: row nowrap;
        padding-top: 64px;
    }
}

.about h2, .projects h2{
    margin-top: 0;
}

.projects{
    display: flex;
    flex-flow: column nowrap; 
    padding-top: 48px;
    padding-bottom: 48px;

    @media(min-width: 500px){
        padding-top: 80px;
        padding-bottom: 120px;
    }
}

.contact{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding: 64px 0;
    background-color: #F95738;
    color: #F0F4EF;
}

.contact-container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;

    @media(min-width: 500px){
        padding: 0 64px;
    }
}

.contact a{
    color: #F0F4EF;
    text-decoration: none;
}

.contact a:hover{
    text-decoration: underline;
}

.section-left{
    flex: 0 1 45%;

    @media(min-width: 500px){
        padding: 0 32px 0 0;    
    }
}

.section-top:not(:first-of-type){
    margin-top: 64px;
}

.section-right{
    flex: 0 1 45%;   
}


.section-right--image-container{
    text-align: right;
}

.intro-image{
    width: 100%;
    height: auto;    
    border-radius: 18px;
    background-color: #263140;
    border: 3px solid #2D3442; 
    box-shadow: 0px 0px 8px 0px rgba(67,75,94,1);
}

.underline--brown{
    border-bottom: 3px solid #F95738;    
    width: fit-content;
}


.project-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

@media(min-width: 500px){
    .project-box:nth-of-type(3n-1){
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 16px;
    }
}

.project-box{
    position: relative;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: center;
    flex: 0 1 100%;
    border-radius: 8px;
    padding: 0 8px;   
    text-decoration: none;
    color: #F0F4EF;
    box-shadow: 0px 0px 8px 0px rgba(67,75,94,1);
    overflow: hidden;
    padding: 16px 0;

    @media(min-width: 500px){
        flex: 0 1 31%;
        text-align: center;
        height: 250px;
        margin-bottom: 16px;
    }
}

.project-box:hover{
    box-shadow: 0px 0px 14px 0px rgba(67,75,94,1);
}

@media(max-width: 499px){
    .project-box-image{
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        z-index: 0;
        display: block;    
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(2px);
        transition: filter .5s ease-in-out;
    }

    .overlay:hover .project-box-image{
        filter: blur(20px);
        box-shadow: 0px 0px 14px 0px rgba(67,75,94,1);
    }
}

.project-box--flappy, .project-box-image--flappy{
    @media(min-width: 500px){
        background-image: url("../images/flappy.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--foster, .project-box-image--foster{
    @media(min-width: 500px){
        background-image: url("../images/foster.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--atm, .project-box-image--atm{
    @media(min-width: 500px){
        background-image: url("../images/ATM_Cover.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--austin, .project-box-image--austin{
    @media(min-width: 500px){
        background-image: url("../images/austin.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--fuzzy, .project-box-image--fuzzy{
    @media(min-width: 500px){
        background-image: url("../images/fuzzy.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--onlineu, .project-box-image--onlineu{
    @media(min-width: 500px){
        background-image: url("../images/onlineu.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--switchup, .project-box-image--switchup{
    @media(min-width: 500px){
        background-image: url("../images/switchup.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--fuzzy-britch, .project-box-image--fuzzy-britch{
    @media(min-width: 500px){
        background-image: url("../images/fuzzy-design.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--extension, .project-box-image--extension{
    @media(min-width: 500px){
        background-image: url("../images/FEmentorExtension.jpg");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--recs, .project-box-image--recs{
    @media(min-width: 500px){
        background-image: url("../images/recs.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--symply, .project-box-image--symply{
    @media(min-width: 500px){
        background-image: url("../images/symply.png");
    }

    background-size: cover;
background-position: center;
    background-color: #171D26;
}

.project-box--xmas, .project-box-image--xmas{
    background-color: #171D26;
}

.project-box--figma, .project-box-image--figma{
    background-color: #171D26;
    @media(min-width: 500px){
        background: #434B5E;
        background-image: url("../images/figma-1-logo-png-transparent.png");
    }

    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.project-box--portfolio, .project-box-image--portfolio{
    background-color: #171D26;
    @media(min-width: 500px){
        background: #434B5E;
        background-image: url("../images/TitleCard.png");
    }

    background-size: cover;
background-position: center;
    background-repeat: no-repeat;
    background-position: 50%;
}

.project-box--thumb, .project-box-image--thumb{
    background-color: #171D26;
    @media(min-width: 500px){
        background: #434B5E;
        background-image: url("../images/Title.png");
    }

    background-size: cover;
background-position: center;
    background-repeat: no-repeat;
    background-position: 50%;
}

.project-box--financial, .project-box-image--financial{
    background-color: #171D26;
    @media(min-width: 500px){
        background: #434B5E;
        background-image: url("../images/Frame1.png");
    }

    background-size: cover;
background-position: center;
    background-repeat: no-repeat;
    background-position: 50%;
}

.project-box--keyboard, .project-box-image--keyboard{
    background-color: #171D26;
    @media(min-width: 500px){
        background: #434B5E;
        background-image: url("../images/keys.png");
    }

    background-size: 225%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.project-box--github, .project-box-image--github{
    background-color: #171D26;
    @media(min-width: 500px){
        background: #434B5E;
        background-image: url("../images/git.png");
    }

    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}

/*make this display: flex; through js*/
.overlay{
    @media(min-width: 500px){
        background: #434B5E;
        height: 0;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;  
        width: 100%;
    
        overflow: hidden;
    }
}

.project-box--desc{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    
    color: #F0F4EF;
    padding: 0 16px;

    @media(max-width: 499px){
        background: none;
    }

    @media(min-width: 500px){
        max-width: 284px;
        align-items: center;
        background: none;
        justify-content: center;
    }
}

.project-box--desc .header--5{
    margin-bottom: 0;

    @media (max-width:499px){
        margin-top: 0;
    } 

}

.project-box--desc .header--6{

    @media (max-width:499px){
        margin-bottom: 0;
    } 

}

.hide--mobile{
    @media (max-width:499px){
        display: none;
    } 
}

.hide--tablet{
    @media (min-width: 500px) and (max-width:1199px){
        display: none;
    }
}

.hide--desktop{
    @media (min-width: 1200px){
        display: none;
    }
}
