$keyWidth: 38px;
$keyHeight: 38px;

$pageColor: #92B4F4;
$keyboardColor: #F9F9F9;
$keyColor: #F9F9F9;
$keyBorder: #EBEBEB;
$keyTextColor: #001B2E;

$keyAccentColor: #FF2E00;

$specialKeysColor: #00538F;
$specialKeysBorder: #003C66;

$KeyColorPressed: #7E7F83;

body{
    background-color: $pageColor;
}

.modernSpace{
    display: none;

    p{
        font-family: "Tektur", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }

    .space-board{
        background-color: $keyboardColor;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        min-height: 275px;
        max-width: 1140px;    
        padding: 16px;
        border-radius: 8px;
        border: 2px solid $keyBorder;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

        &__main{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        }

        &__secondary{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin: 0 auto;
        }

        .row-special-keys .key{
            background-color: $specialKeysColor;
            border-color: $specialKeysBorder;
            color: $keyColor;
        }
        .key{
            width: $keyWidth;
            height: $keyHeight;
            margin: 8px;
            text-transform: uppercase;
            text-align: center;
            border: 3px solid $keyBorder;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            font-size: 12px;
            background-color: $keyColor;
            color: $keyTextColor;
        
            &__1{
                width: 60px;
                border-radius: 6px;
            }
            &__2{
                width: 80px;
                border-radius: 6px;
            }
            &__3{
                width: 100px;
                border-radius: 6px;
            }
            &__4{
                width: 120px;
                border-radius: 6px;
            }
            
            &__space{
                flex: 1 0 33%;
                border-radius: 6px;
            }  
        
            &__small-text{
                font-size: 8px;
            }
        
            &__window{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;        
            }
        
            &__esc, &__arrow-accent{
                background-color: $keyAccentColor;
                color: $keyColor;
                border-color: $keyAccentColor;
            }
        }
        
        .arrow{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: $keyColor;
            box-sizing: border-box;
            &:after, &:before {
                content: "";
                box-sizing: border-box;
            }
            padding: 5px;
            width: 10px;
            height: 10px;
            border-width: 4px 4px 0 0;
            border-style: solid;
            &:before{
                right: 0;
                top: -3px;
                position: absolute;
                height: 4px;
                box-shadow: inset 0 0 0 32px;
                transform: rotate(-45deg);
                width: 23px;
                transform-origin: right top;
            }
            &[class*="__left"]{
                transform: rotate(45deg);
            }
            &[class*="__right"]{
                transform: rotate(-135deg);
            }
            &[class*="__up"]{
                transform: rotate(-45deg);
                margin-bottom: 6px;
            }
            &[class*="__down"]{
                transform: rotate(135deg);
                margin-top: 6px;
            }
        }
        
        .window-lines{
            width: 20px;
            border-top: 1px solid $keyTextColor;
            border-bottom: 1px solid $keyTextColor;    
        }
    }
}

