$keyWidth: 45px;
$keyHeight: 45px;

$pageColor: #3D7068;
$keyColor: #000000;
$keyTextColor: #F0F7EE;

$KeyColorPressed: #7E7F83;

html, body{
    height: 100%;
    overflow: hidden;
}

body{
    background: $pageColor;     
    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
    justify-content: space-evenly;
}

h1{
    text-align: center;
}

p{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.keyboard{
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    min-height: 275px;
    max-width: 1140px;    
    padding: 16px;
    border-radius: 8px;
    border: 1px solid $keyTextColor;

    &__secondary{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin: 0 auto;
    }
}

.row{
    display: flex;    
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
    height: $keyHeight + 10px;

    &__arrows{
        display: flex;

        &--up{
            justify-content: center;
        }
    }
}

.row-0{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    &__group{
        display: flex;
        flex-flow: row nowrap;
    }
}

.key{
    width: $keyWidth;
    height: $keyHeight;
    margin: 8px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $keyTextColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

    font-size: 12px;
    background-color: $keyColor;
    color: $keyTextColor;

    &__1{width: 60px;}
    &__2{width: 80px;}
    &__3{width: 100px;}
    &__4{width: 120px;}
    &__space{flex: 1 0 33%;}  

    &__small-text{
        font-size: 8px;
    }

    &__window{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;        
    }
}

.arrow{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: $keyTextColor;
    box-sizing: border-box;
    &:after, &:before {
        content: "";
        box-sizing: border-box;
    }
    padding: 5px;
    width: 10px;
    height: 10px;
    border-width: 4px 4px 0 0;
    border-style: solid;
    &:before{
        right: 0;
        top: -3px;
        position: absolute;
        height: 4px;
        box-shadow: inset 0 0 0 32px;
        transform: rotate(-45deg);
        width: 23px;
        transform-origin: right top;
    }
    &[class*="__left"]{
        transform: rotate(45deg);
    }
    &[class*="__right"]{
        transform: rotate(-135deg);
    }
    &[class*="__up"]{
        transform: rotate(-45deg);
    }
    &[class*="__down"]{
        transform: rotate(135deg);
        margin-top: 4px;
    }
}

.window-lines{
    width: 20px;
    border-top: 1px solid $keyTextColor;
    border-bottom: 1px solid $keyTextColor;    
}