$keyWidth: 45px;
$keyHeight: 45px;

$pageColor: #3D7068;
$keyColor: #000000;
$keyTextColor: #F0F7EE;

$KeyColorPressed: #7E7F83;

html, body{
    height: 100%;
    overflow: hidden;
}

body{
    background: $pageColor;     
    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
    justify-content: space-evenly;
}

h1{
    text-align: center;
}

p{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.row{
    display: flex;    
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
    height: $keyHeight + 10px;

    &__arrows{
        display: flex;

        &--up{
            justify-content: center;
        }
    }
}

.row-0{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    &__group{
        display: flex;
        flex-flow: row nowrap;
    }
}